server:
  port: 80
spring:
  datasource:
    druid:
      driver-class-name: com.mysql.cj.jdbc.Driver
      url: jdbc:mysql://localhost:3306/movie?useUnicode=true&characterEncoding=UTF-8&userSSL=false&serverTimezone=GMT%2B8
      username: root
      password: 123456
  boot:
    admin:
      client:
        url: http://localhost:9090

mybatis-plus:
  global-config:
    db-config:
      id-type: input
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    map-underscore-to-camel-case: true
management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: "*"
  info:
    env:
      enabled: true


info:
  Project: Library Information Management System
  Implementation Function: CURD
  Team members: 徐晨标，吴勇平，林志霖
  Applied Technology: Springboot+MyBatisPlus+Vue全家桶

